@import url('https://fonts.googleapis.com/css?family=Cinzel|Gamja+Flower|Lobster|Orbitron|Permanent+Marker|Ruslan+Display|Shadows+Into+Light|Satisfy|Great+Vibes');

#trait {
    height: 4rem;
}

#introVid {
    border-radius: 70%;
    object-fit: cover;
}

// .faderContainer {
//   height: 100vh
// }
